<!doctype html>
<html>
<head>
    <title>My first Leaflet example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="public/style/style.css">
    <link rel="stylesheet" href="public/style/PruneCluster.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <!-- Vuetify -->
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@1.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="//geoip-js.com/js/apis/geoip2/v2.1/geoip2.js" type="text/javascript"></script>
</head>
<body>

    <div id="app"> 
        <template>
            <v-content fluid style="height: 100vh;">
                <v-toolbar color="primary" style="z-index: 1;">
                    <v-toolbar-side-icon></v-toolbar-side-icon>
                    <v-icon>search</v-icon>
                    <v-toolbar-title>
                        FFP Map
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon>
                        <v-icon>search</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon>apps</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon>refresh</v-icon>
                    </v-btn>
                    <v-btn icon>
                        <v-icon>more_vert</v-icon>
                    </v-btn>
                </v-toolbar>
                <div id="map"></div>
            </v-content>
            <v-dialog
                v-model="drawer"
                transition="dialog-bottom-transition"
                max-width="600"
            >
                <template v-slot:default="dialog">
                    <v-card>
                        <v-toolbar
                            color="primary"
                        >
                            <v-toolbar-side-icon></v-toolbar-side-icon>
                            <v-toolbar-title>{{place.localisation}}</v-toolbar-title>
                            <v-spacer></v-spacer>
                            <v-btn
                                @click="dialog.value = false"
                            >
                                <v-icon>close</v-icon>
                            </v-btn>
                        </v-toolbar>
                            <v-container v-for="item in fish" class="pa-1">
                                <v-card>
                                      <v-card-title>
                                        {{ item.nom_commun }}
                                      </v-card-title>
                                      <v-card-title>
                                        Latin : {{ item.nom_latin }}
                                      </v-card-title>
                                </v-card>
                            </v-container>
                        </v-card-text>
                    </v-card>
              </template>
            </v-dialog>
        </template>
    </div>
    <script type="text/javascript" src="node_modules/leaflet/dist/leaflet.js"></script>
    <script src="public/PruneCluster.js"></script>
    <script type="text/javascript" src="public/app.js"></script>
</body>
</html>
